* {
  box-sizing: border-box;
}


div.description {
  padding: 15px;
  text-align: center;
}
.gallery-item{
    margin-left: 40px;
  padding: 50px 6px;
  float: left;
  width: 30%;
  object-fit: cover;
}
h1{
    text-align: center;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 150px;
   
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

#caption {
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

#close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

#prev, #next {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
}

#prev {
  left: 30px;
}

#next {
  right: 30px;
}

    
    
